
/* body {
    background-color: 


  } */
  .main{
    overflow: scroll;
        width: 80px;
        background-color: black;
        position: fixed;

  }
  .sidebar {
    width: 70px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px 10px;
    background-color: black;
    overflow-y: auto;
  }
  
  .sidebar-icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  /* Add any additional styles here */
  
  .money{
    color: white;
    background-color: black;
  }
  .money > p{
    color: white;
  }

  .nft>h3{
    color: white;
  }

  .utility, .about{
    color: white;
  }

  